body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: lightslategrey;
}

button {
    margin-right: 50px;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    margin-top: 100px;
}

.grid-item {
    outline: black solid 1px;
    background-color: white;
}

.hovered {
    background-color: rebeccapurple;
}

